<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
		<head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<title>Allsongsmap</title>
				<meta name="description" content="">
				<meta name="viewport" content="width=device-width, initial-scale=1">

				<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
				<link href="{{STATIC_URL}}css/lib/normalize.css" rel="stylesheet" type="text/css">
				<link href="{{STATIC_URL}}css/lib/pure.css" rel="stylesheet" type="text/css">
				<link href="{{STATIC_URL}}css/asm.css" rel="stylesheet" type="text/css">

		</head>
		<body id="asm" class="asm asm-light">
				<!--[if lt IE 7]>
						<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
				<![endif]-->

				<script src="{{STATIC_URL}}js/lib/react.js"></script>
				<script src="{{STATIC_URL}}js/lib/jquery.js"></script>
				<script src="{{STATIC_URL}}js/lib/underscore.js"></script>
				<script src="{{STATIC_URL}}js/lib/backbone.js"></script>
				<script src="{{STATIC_URL}}js/lib/backbone.localstorage.js"></script>

				<!-- Components -->
				<script src="{{STATIC_URL}}js/dist/header.js"></script>
				<script src="{{STATIC_URL}}js/dist/footer.js"></script>
				<script src="{{STATIC_URL}}js/dist/story-card.js"></script>
				<script src="{{STATIC_URL}}js/dist/app.js"></script>


				<script src="{{STATIC_URL}}js/dist/main.js"></script>
		</body>
</html>